@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body>section {
    max-width: 1280px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
select {
    background: #fff;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 10px 0 10px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "▼";
    font-size: 1rem;
    top: 6px;
    right: 10px;
    position: absolute;
}

label {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

#loginPage {
    flex-direction: column;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    border: 1px solid #004E8F;
    border-radius: 3px 3px 0 0;
}

.login-content {
    padding: 32px;
}

.login-content>form {
    display: flex;
    flex-direction: column;
}

.login-content>form>button {
    width: 100%;
}

.login-content>form>div {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.content {
    padding: 32px;
    width: 100%;
}

.content>form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content>form>div {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border: 1px solid #004E8F;
    border-radius: 3px 3px 0 0;
}

.login-box form>input:nth-child(2) {
    margin-bottom: 24px;
}

.login-box form>input:nth-child(4) {
    margin-bottom: 16px;
}

.cabecalho {
    padding: 16px 0;
    background-color: #004E8F;
    text-align: center;
    width: 100%;
}

.cabecalho h1,
.cabecalho h2 {
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.rodape-login {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 750px;
}

.rodape-login a {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1A75C1
}

.rodape {
    margin-top: 28px;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.primary-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: #004E8F;
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 8px 0;
    cursor: pointer;
    width: 166px;
}

.secondary-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: #1A75C1;
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 8px 0;
    cursor: pointer;
    width: 166px;
}

#ulPai {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

#ulPai>li {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 16px 32px;
}

#ulPai>li:hover {
    background-color: #E0E0E0;
    cursor: pointer;
}

#ulPai>li>div {
    display: flex;
    gap: 4px;
    font-size: 20px;
    line-height: 30px;
}

#ulPai>li>div>span {
    font-weight: 600;

}

.descricao-vaga {
    padding: 24px 32px;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #1A75C1;
    border-radius: 8px;
}

.descricao-vaga span {
    font-weight: 700;
}

.descricao-vaga p {
    font-size: 16px;
    line-height: 24px;
}

.cabecalho-detalhe-vaga {
    display: flex;
}

.cabecalho-detalhe-vaga h2 {
    margin-right: 200px;
    padding-left: 30px;
}

.content>h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 34px 0;
    text-align: center;
}

.candidatos-content {
    border-right: 1px solid #004E8F;
    border-left: 1px solid #004E8F;
    border-radius: 4px 4px 0px 0px;
    width: 900px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
}

.candidatos-title {
    display: flex;
    justify-content: space-between;
    background-color: #004E8F;
    padding: 14px 32px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px 4px 0px 0px;
}

.candidato {
    padding: 18px 14px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #004E8F;
}

.teste {
    display: flex;
    justify-content: center;
}

.reprovar-button {
    background: #E53636;
    border-radius: 4px;
    color: white;
    border: none;
    width: 166px;
    padding: 8px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.reprovado-button {
    background: #A6A6A6;
    border-radius: 4px;
    color: white;
    border: none;
    width: 166px;
    padding: 8px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.candidato-reprovado {
    color: red !important;
}