@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body>section {
    max-width: 1280px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
select {
    background: #fff;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}

label {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

#loginPage {
    flex-direction: column;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    border: 1px solid #004E8F;
    border-radius: 3px 3px 0 0;
}

.login-content {
    padding: 32px;
}

.login-content>form {
    display: flex;
    flex-direction: column;
}

.login-content>form>button {
    width: 100%;
}

.login-content>form>div {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.content {
    padding: 32px;
    width: 100%;
}

.content>form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content>form>div {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border: 1px solid #004E8F;
    border-radius: 3px 3px 0 0;
}

.login-box form>input:nth-child(2) {
    margin-bottom: 24px;
}

.login-box form>input:nth-child(4) {
    margin-bottom: 16px;
}

.cabecalho {
    padding: 16px 0;
    background-color: #004E8F;
    text-align: center;
    width: 100%;
}

.cabecalho h1, .cabecalho h2 {
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.rodape-login {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 750px;
}

.rodape-login a {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1A75C1
}

.rodape {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}

.primary-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: #004E8F;
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 8px 0;
    cursor: pointer;
    width: 166px;
}

.secondary-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: #1A75C1;
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 8px 0;
    cursor: pointer;
    width: 166px;
}

.listas-homepage>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
    background: #fff;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}

.listas-homepage>div>div,
.descricao-vaga>div {
    display: flex;
    align-items: center;

}

.listas-homepage h1,
.listas-homepage p,
.descricao-vaga h1 {
    font-size: 20px;
    padding: 0px 5px;
}

.descricao-vaga p {
    font-size: 20px;
}

.descricao-vaga {
    border: 1px solid #004E8F;
    border-radius: 3px;
}

.content h1 {
    text-align: center;
    margin: 20px 0px;
}

.cabecalho-detalhe-vaga{
    display: flex;   
}

.cabecalho-detalhe-vaga h2 {
    margin-right: 200px;
    padding-left: 30px;    
}